@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash&text=ABab');
@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger&text=CDcd');
@import url('https://fonts.googleapis.com/css?family=Henny+Penny&text=EFef');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&text=GHgh');
@import url('https://fonts.googleapis.com/css?family=Ribeye+Marrow&text=IJij');
@import url('https://fonts.googleapis.com/css?family=Ribeye&text=KLkl');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&text=MNmn');
@import url('https://fonts.googleapis.com/css?family=Finger+Paint&text=OPop');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&text=QRqr');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&text=STst');
@import url('https://fonts.googleapis.com/css?family=Miltonian&text=UVuv');
@import url('https://fonts.googleapis.com/css?family=Irish+Grover&text=WXwx');
@import url('https://fonts.googleapis.com/css?family=Atma&text=YZyz');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: red !important;
}
p {
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  font-size: 20px;
}
h1 {
  font-size: 100px;
  
}
ul {
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}
.navigation {
  border: 5px solid blue;
  background-color: green;
}
.tabl {
  background-color: yellow;
}
.list {
  background-color: lightblue !important;
}
#header4 {
  font-size: 150px;
}
#header2 {
  font-family: Papyrus, fantasy; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
}
#header1{
  font-family: 'Ravi Prakash', 'Jolly Lodger', 'Henny Penny', 'Luckiest Guy', 'Ribeye Marrow', 'Ribeye', 'Bowlby One', 'Finger Paint', 'Fredoka One', 'Sigmar One', 'Miltonian', 'Irish Grover', 'Atma', "cursive";
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#header1:hover{
  
}
@keyframes example {
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue; }
  75%  {background-color:green;}
  100% {background-color:red; }
}

